<% provide(:title, "Top") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> / product_note</title>
  </head>
  <body>
    <h1>担当商品メモ</h1>
    <%= link_to "ログイン", login_path, class: "btn btn-lg  btn-outline-dark" %>
  </body>
</html>
